@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #3b3a3a;
  --header-background: #f8d410;
  --text-green: #118111;
  --text-red: #a91313;
  --primary-btn: #3b3a3a;
  --primary-btn-hover: #6d6a6a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode styles disabled
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  padding-top: 55px; /* Adjust this value to the height of your header */
  background: var(--background);
  color: var(--foreground);
}

.recharts-pie * {
  outline: none !important;
}