@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3b3a3a;
  --header-background: #ecec5d;
  --text-green: #118111;
  --text-red: #a91313;
  --primary-btn: #3b3a3a;
  --primary-btn-hover: #6d6a6a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode styles disabled
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  padding-top: 60px; /* Adjust this value to the height of your header */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.recharts-pie * {
  outline: none !important;
}