.tableContainer {
    display: block;
    overflow-x: none;
    white-space: wrap;
  }
  
  .hiddenThead {
    display: table-header-group; /* Default table header styling */
  }
  
  /* Default row and cell styling */
  .responsiveRow {
    display: table-row;
  }
  
  .responsiveCell {
    display: table-cell;
    padding: 0.5rem;
    border: 1px solid #ddd;
    font-size: 0.8rem;
  }
  